Source: nm-tray
Maintainer: Lubuntu Developers <lubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders: Alf Gaida <agaida@siduction.org>,
           ChangZhuo Chen (陳昌倬) <czchen@debian.org>,
           Simon Quigley <tsimonq2@ubuntu.com>
Section: net
Priority: optional
Build-Depends: cmake,
               debhelper-compat (= 13),
               libkf5networkmanagerqt-dev,
               modemmanager-qt-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 4.6.1
Homepage: https://github.com/palinek/nm-tray
Vcs-Browser: https://salsa.debian.org/lxqt-team/nm-tray
Vcs-Git: https://salsa.debian.org/lxqt-team/nm-tray.git
Rules-Requires-Root: no

Package: nm-tray
Architecture: any
Depends: network-manager,
         qterminal | x-terminal-emulator,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: nm-tray-l10n
Description: Simple Network Manager frontend written in Qt
 nm-tray is a simple NetworkManager front end with information icon residing
 in system tray (like e.g. nm-applet). It's a pure Qt application. For
 interaction with NetworkManager it uses API provided by KF5::NetworkManagerQt
 -> plain DBus communication.
 .
 This package contain the application files.

Package: nm-tray-l10n
Architecture: all
Multi-Arch: foreign
Section: localization
Depends: qttranslations5-l10n, ${misc:Depends}
Description: Language package for nm-tray
 nm-tray is a simple NetworkManager front end with information icon residing
 in system tray (like e.g. nm-applet).
 .
 This package contains the l10n files needed by nm-tray.
